include partials/_mixins
doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
    include partials/_head
    body
        span.preheader
        include partials/_header
        include partials/_col_single
        include partials/_col_double
        include partials/_col_triple
        include partials/_footer
