head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title Title
  // styles will be inlined
  link(href="css/inline.css")
  // styles will be embedded
  link(href="css/embed.css" data-embed)
